<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
<meta charset="utf-8">
<meta name="author" content="cowkeys">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>title:<%= title %>| Blog</title>

<!-- main JS libs -->
<script src="/javascripts/modernizr.min.js"></script>
<script src="/javascripts/jquery-1.10.0.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<!-- Style CSS -->
<link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet">
<link href="/stylesheets/style.css" media="screen" rel="stylesheet">

<!-- scripts -->
<script src="/javascripts/general.js"></script>
</head>
  <body>
    <div class="container">

        <!-- content -->
        <div class="content " role="main">
          <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                  <h6 class="foo">Sign in</h6>

                  <!-- login widget -->
                  <div class="widget-container widget_login styled boxed boxed-cream">
                      <div class="inner">
                          <form action="#" method="post" class="loginform">
                              <div class="field_text">
                                  <label for="user_login" class="label_title">Username</label>
                                  <input type="text" name="log" id="user_login" value="" placeholder="Email" />
                                  <span class="input_icon input_email"></span>
                              </div>
                              <div class="field_text">
                                  <label for="user_pass" class="label_title">Password</label>
                                  <input type="password" name="pwd" id="user_pass" value="" placeholder="Password" />
                                  <span class="input_icon input_pass"></span>
                              </div>
                              <div class="rowRemember clearfix">
                                  <div class="forgetmenot input_styled checklist">
                                      <div class="rowCheckbox checkbox-middle"><input type="checkbox" name="remember" id="remember" value="3" checked><label for="remember">Remember&nbsp;me?</label></div>
                                  </div>
                                  <span class="forget_password"><a href="#">Forgot Password?</a></span>
                                  <input type="hidden" name="redirect_to" value="">
                                  <input type="hidden" name="testcookie" value="1">
                              </div>
                              <div class="rowSubmit">
                                  <span class="btn btn-hover"><input type="submit"  name="login-submit" id="login-submit" value="Login Now" /></span>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!--/ login widget -->
              </div>
                  <!--/ login widget -->
              </div>
</div>
  </body>
</html>
